/* General Styles */
body {
    font-family: 'Bodoni Moda', serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #F74C29;
    color: #fff;
    padding:
